* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FF5858;
}

.color {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.generate {
    appearance: none;
    background: none;
    outline: none;
    border: 5px solid #fff;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(to bottom, transparent 50%, #2ecc5d 50%);
    background-size: 100% 200%;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.generate:hover {
    background-position: 0 100%;
    box-shadow: inset 4px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}